* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

#page-wrapper {
  width: 1500px;
  margin: 0 auto;
}

#header {
  height: 68px;
/*  background-color: #232323;*/
  background-image: none;
}

.region-header .content {
  float: right;
  /*margin: 23px 243px 0px 0px;*/
}

.region-header ul.menu {
  float: left;
  width: 100%;
  list-style: none;
  margin-bottom: 10px;
}

.region-header ul.menu li {
  float: left;
  position: relative;
  display: block;
  margin: 0px 4px;
  padding: 14px 0px;
}

.region-header ul.menu li a {
  display: block;
  padding: 2px 10px;
  /* color: #fff; */
  /*background: #333;*/
  background: none;
  /*text-decoration: none;*/
  color: white;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 2px;
}

.region-header ul.menu li a:hover{
	color:#fff;
	/*background:#6b0c36;*/
	text-decoration:underline;
}

.region-header ul.menu ul{ 
  list-style:none;
  position:absolute;
  display: none;
}

.region-header ul.menu ul li{
  padding-top:1px; 
  float:none;
  width: 165px;
  background-color: #C7C7C7;
  margin-bottom: 2px;
  padding: 14px 8px;
}

.region-header ul.menu ul a{
  white-space:nowrap; 
  display:block;
}

.region-header ul.menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
  display: block;
  margin: 14px 0 0 16px;
}

.region-header ul.menu li:hover a{ 
  /*background:#6b0c36;*/
  text-decoration:none;
}

.region-header ul.menu li:hover ul li:hover{ 
  background: #D5D5D5;
}

#main, #triptych, #footer-columns, #footer {
  width: 100%;
  margin-left: 0px;/*auto;*/
  margin-right: 0px;/*auto;*/
}



#content .section, .sidebar .section {
  padding: 0px 0px;
}

#block-system-main, #block-block-5, #block-views-blockone-block, #block-block-6,
#block-views-tabs-block, #block-block-11, #footer, #block-views-limage-block {
  width: 956px;/*1230px;*/
  margin: 0 auto;
}

#main-wrapper {
  /*background-color: #EBECE8;*/
}

div#block-block-5 .content {
  margin: 40px 24px;
}

div#block-block-5 p {
  font-size: x-large;
  text-transform: uppercase;
  font-family: serif;
  text-align: center;
}

div#block-views-limage-block, div#block-views-blockone-block {
  border-bottom: 1px solid RGBA(123,123,123,0.5);
  padding-bottom: 26px;
  margin-bottom: 34px;
}

div#block-block-6 h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: serif;
  padding: 12px 0px;
}

/*  block one */
div#block-views-blockone-block table.views-view-grid.cols-4 tr td {
  width: 1px;
  padding: 0px 11px;
}

table.views-view-grid.cols-4 {
  margin: 0 auto;
}

div#block-block-6 {
  margin-bottom: 30px;
}


/*Tabs. First in disable all default properties */

div#block-views-tabs-block * {
  /* background-color: inherit; */
  padding: 0;
  margin: 0;
  background: inherit;
  border: none;
  float: none;
}

div#views-ui-tabs ul {
  text-align: center;
  border-bottom: 1px solid RGBA(123,123,123,0.6);
  margin: 19px 0px;
}

div#views-ui-tabs ul li {
  display: inline-block;
  float: none;
  padding: 17px 0px;
  border: solid RGBA(123, 123, 123, 0.7);
  border-width: 0px 1px 0px 0px;
  text-transform: uppercase;
}

div#views-ui-tabs ul li:last-child {
  border-width: 0;
}


div#views-ui-tabs ul li a {
  color: RGBA(23, 23, 23, 0.8);
  font-weight: 600;
  padding: 18px 72px;
}

div#block-block-11 h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: serif;
  padding: 12px 0px;
}

div#views-ui-tabs ul li.ui-tabs-selected.ui-state-active a {
  color: #35BA90;
}

/*   Slideshow */
span#views_slideshow_controls_text_pause_slige-block {
  display: none;
}

span#views_slideshow_controls_text_previous_slige-block a {
  background-image: url(../images/slide_previous.png);
}

span#views_slideshow_controls_text_previous_slige-block {
  background-image: url(../images/slide_previous.png);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;/*15%;*/
  z-index: 3;
  
  left: 60px;
}

span#views_slideshow_controls_text_previous_slige-block a {
  display: none;
}

span#views_slideshow_controls_text_next_slige-block {
  background-image: url(../images/slide_next.png);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  position: absolute;
  top: 300px;/*15%;*/
  z-index: 3;
  
  right: 60px;
}

span#views_slideshow_controls_text_next_slige-block a {
  display: none;
}

div#block-views-posts-block tr td {
  vertical-align: top;
}

div#block-views-posts-block table tr td a {
  text-transform: uppercase;
  /*text-decoration: none;*/
  color: #35BA90;
}
/* margin before header */
div#views-ui-tabs-tab {
  margin-bottom: 39px;
}

#header .section.clearfix {
  z-index: 4;
}

div#header img {
  box-shadow: 2px 8px 14px RGBA(52,53,53,0.5);
}

div#block-views-blockone-block tr td {
  vertical-align: top;
}

/* block with likes */
div#block-views-limage-block tr td>div {
  vertical-align: top;
  display: table-cell;
  width: 1px;
 /* padding: 0px 20px;*/
}

div#block-views-limage-block table {
  margin: 0 auto;
}

#block-views-limage-block div.views-field.views-field-field-lamage {
  padding: 20px 0px 20px 20px;
  border: solid RGBA(123, 123, 123, 0.5);
  border-width: 0px 0px 1px 1px;
}

.like-body.views-fieldset {
  padding: 20px 0px 20px 20px;
  border: solid RGBA(123, 123, 123, 0.5);
  border-width: 0px 0px 0px 1px;
}

.left.views-fieldset {
  /* padding: 20px; */
  /* border: solid RGBA(123, 123, 123, 0.5); */
  /* border-width: 0px 0px 0px 0px; */
}

.left.views-fieldset>div {
  padding: 20px;
  /* border-bottom: 1px solid RGBA(123,123,123,0.5); */
}

.left.views-fieldset>div {
  padding: 20px;
  /* border-bottom: 1px solid RGBA(123,123,123,0.5); */
}

.left.views-fieldset b:last-child {
  text-transform: uppercase;
  font-family: monospace;
  font-size: x-large;
  font-weight: 100;
}
.left.views-fieldset b:first-child {
  font-size: -webkit-xxx-large;
}
.left.views-fieldset>div b {
  display: block;
  text-align: center;
}

div#block-views-limage-block div.like-like.views-fieldset {
  text-align: center;
  font-size: x-large;
}

.views-field.views-field-created:first-child {
  border-bottom: 1px solid RGBA(123,123,123,0.5);
}

.views-field.views-field-title a {
  text-transform: uppercase;
  font-family: serif;
}
/*
div#block-views-limage-block div.views-field.views-field-title {
  padding: 0px 0px 10px 0px;
}
*/


div#block-views-limage-block div.views-field.views-field-body {
 /* padding: 8px 0px;*/
}

/* footer styles begin 
#footer tr.row-1.row-first.row-last td {
  width: 25%;
  padding: 2px 16px;
  display: inline-block;
}

#footer tr.row-1.row-first.row-last td>div {
  padding: 7px 0px;
  font-family: serif;
  color: #bebebe;
}

#footer td div.views-field-field-one, #footer td div.views-field-field-two {
  border: solid RGBA(123, 123, 123, 0.7);
  border-width: 0px 0px 1px 0px;
}

/* footer styles end*/
div#name-and-slogan {
  position: relative;
  top: 540px;
  left: 210px;
  display: inline-block;
}

h1#site-name {
  text-transform: uppercase;
  font-family: serif;
  font-weight: normal;
  background-color: RGBA(23, 23, 23, 0.7);
  margin-bottom: 2px;
  padding: 4px 4px;
}

div#site-slogan {
  font-family: serif;
  letter-spacing: 2px;
  background-color: RGBA(23, 23, 23, 0.7);
  padding: 9px 2px;
}

/* margin for site-menu */
.without-secondary-menu .region-header {
  margin-top: -96px;
}

.views-field.views-field-field-like-tags a {
  color: #356C59;
}

/***** footer styles begin ***/

#footer div.block {
  width: 22%;
  display: inline-block;
  vertical-align: top;
  padding: 0px 10px;
}

#footer div.block h2 {
  text-transform: uppercase;
  font-family: serif;
  font-size: 16px;
  font-weight: 100;
  color: #30A680;
  padding: 0px 0px 10px 0px;
}

div#block-block-13 div.content p, div#block-block-12 div.content p {
  padding: 0px 0px 20px 0px;
  /*color: #ADADAD;*/
}

#footer div.block div.views-row-1, #footer div.block div.views-row-2 {
  padding: 0px 0px 12px 0px;
  border: solid RGBA(123, 123, 123, 0.7);
  border-width: 0px 0px 1px 0px;
  margin: 0px 0px 12px 0px;
}

/**
div#block-views-popular-posts-block div.view-content {
  color: #ADADAD;
}**/

#footer div.block div.content {
  color: #ADADAD;
}

div#block-system-main-menu ul.menu li ul li a {
  color: #4A4A4A;
}