<div id="preview">

  <div id="preview-header">
    <div id="preview-logo"><img src="../../../themes/bart/logo.png" alt="Site Logo" /></div>
    <div id="preview-site-name">Bart</div>
    <div id="preview-main-menu">
      <ul id="preview-main-menu-links">
        <li><a>Home</a></li>
        <li><a>Te Quidne</a></li>
        <li><a>Vel Torqueo Quae Erat</a></li>
      </ul>
    </div>
  </div>

  <div id="preview-main" class="clearfix">
    <div id="preview-sidebar">
      <div id="preview-block" class="preview-block">
        <h2>Etiam est risus</h2>
        <div class="preview-content">
          Maecenas id porttitor Ut enim ad minim veniam, quis nostrudfelis.
          Laboris nisi ut aliquip ex ea.
        </div>
      </div>
    </div>
    <div id="preview-content">
      <h1 id="preview-page-title">Lorem ipsum dolor</h1>
      <div id="preview-node">
        <div class="preview-content">
          Sit amet, <a>consectetur adipisicing elit</a>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud <a>exercitation ullamco</a> laboris nisi ut aliquip ex ea
          commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
        </div>
      </div>
    </div>
  </div>

  <div id="preview-footer-wrapper">
    <div id="preview-footer-columns" class="clearfix">
      <div class="preview-footer-column">
        <div class="preview-block">
          <h2>Etiam est risus</h2>
          <div class="content">
            Maecenas id porttitor Ut enim ad minim veniam, quis nostrudfelis.
            Laboris nisi ut aliquip ex ea.
          </div>
        </div>
      </div>
      <div class="preview-footer-column">
        <div class="preview-block preview-block-menu">
          <h2>Erisus dolor</h2>
          <div class="preview-content">
            <ul>
              <li><a>Donec placerat</a></li>
              <li><a>Nullam nibh dolor</a></li>
              <li><a>Blandit sed</a></li>
              <li><a>Fermentum id</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
