<td class="col-1 col-first">
  <table>
    <tr>
      <td>
        <div class="left views-fieldset" data-module="views_fieldsets">
          <div class="views-field views-field-field-day">
            <div class="field-content">18</div>
          </div>   
          <div class="views-field views-field-field-month">
            <div class="field-content">AUG</div>
          </div>    
          <div class="views-field views-field-field-like">
            <div class="field-content">
              <img typeof="foaf:Image" src="http://localhost:4567/sites/default/files/heart_0.png" width="100" height="100" alt="">
            </div>
          </div>     
          <div class="views-field views-field-field-like-count">
            <div class="field-content">18</div>
          </div>  
        </div>
      </td>
      <td>
        <div class="right views-fieldset" data-module="views_fieldsets">
          <div class="views-field views-field-field-lamage">
            <div class="field-content">
              <img typeof="foaf:Image" src="http://localhost:4567/sites/default/files/styles/limage__369x189_/public/13323_0.jpg?itok=Qw93E9lb" width="298" height="189" alt="">
            </div>
          </div>  
          <div class="views-field views-field-title">
            <span class="field-content">
              <a href="/node/14">Bibendum dolor dapibus ornare</a>
            </span>
          </div>   
          <div class="views-field views-field-body">
            <div class="field-content">
              <p>Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla.</p>
            </div>
          </div>  
          <div class="views-field views-field-field-like-tags">
            <div class="field-content">
                <a href="/taxonomy/term/2" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">yoooo</a>, <a href="/taxonomy/term/3" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">dawg</a>
            </div>
          </div>  
        </div>
      </td>
    </tr>
  </table>
</td>