

.wrapper * {
  /*border: 1px solid blue;*/
  padding: 0px;
  margin: 0px;
  /*opacity: 0.7;*/
}



.wrapper {
  width: 1499px;
/*  background-image: url("https://files.slack.com/files-pri/T025B5VP6-F0677BY3G/home.png");
  background-repeat: no-repeat;*/
}

.region {
/*  width: 100%;*/
}

.region-header {
  height: 68px;
  background-color: #232323;
}

.region-slider {
  height: 697px;
  /*background-color: #636363;*/
}

.region-content {
  height: 1490px;
  width: 1013px;
  margin: 0 auto;
  background-color: #EAECE8;
}

.region-footer {
  height: 372px;
  background-color: #2C2C2C;
}

/* regions end */

.region-header .content {
  float: right;
  margin: 23px 243px 0px 0px;
}

.region-header ul.menu {
  float: left;
  width: 100%;
  list-style: none;
  margin-bottom: 10px;
}

.region-header ul.menu li {
  float: left;
  position: relative;
  display: block;
  margin: 0px 4px;
}

.region-header ul.menu li a {
  display: block;
  padding: 2px 10px;
  /* color: #fff; */
  background: #333;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 600;
  letter-spacing: 2px;
}

.region-header ul.menu li a:hover{
	color:#fff;
	background:#6b0c36;
	text-decoration:underline;
}
.region-header ul.menu ul{ 
  list-style:none;
  position:absolute;
  display: none;
}

.region-header ul.menu ul li{
  padding-top:1px; 
  float:none;
  width: 165px;
  background-color: #C7C7C7;
  margin-bottom: 1px;
  padding: 7px 0px; 
}

.region-header ul.menu ul a{
  white-space:nowrap; 
  display:block;
}

.region-header ul.menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
  display: block;
}

.region-header ul.menu li:hover a{ 
	background:#6b0c36;
	text-decoration:underline;
}

.region-header ul.menu li:hover ul li a:hover{ 
	/*background:#333;*/
}

.view-content {
  width: 296px;
}

element.style {
  margin-top: 52px;
}

div#block-block-5 {
  margin-top: -moz-calc;
  padding: 49px 58px 19px 59px
}

div#block-block-5 p {
  font-size: 22px;
  font-family: serif;
  text-transform: uppercase;
  color: gray;
}